@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inconsolata:wght@400;600;800&family=Raleway:wght@400;600&display=swap');

/* screens css */
@import "screens/find-friend.css";
@import "screens/more.css";
@import "screens/add-friend.css";
@import "screens/chat-room.css";

/* components css */
@import "components/nav.css";
@import "components/bottom-bar.css";
@import "components/variables.css";
@import "components/user-component.css";
@import "components/status-bar.css";

body{
    font-family: 'Homemade Apple', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
}
.main-frame{
    margin-left:80px;
    margin-right:20px;
    /* margin-top으로 하면 screen자체의 길이가 길어져서 vh로 높이를 설정해놨던 nav바의 위치도 내려간다. */
}
.main-frame__normal{
    padding-top:65px;
}
.top-fixed{
    padding-left:80px;
    padding-right:20px;
    padding-top:35px;
    box-sizing:border-box;
}
.main-frame__find{
    padding-top:105px;
}
.main-frame__more{
    padding-top:35px;
}
