.body__chat-room{
    background-color: #BACEE0;
}
.chat-room-top-fixed{
    position:fixed;
    top:0;
    width:99vw;
    padding: 35px 20px 10px 20px;
    box-sizing: border-box;
    background-color: #BACEE0;
}
.chat-room-top-fixed .search-name{
    margin-top: 15px;
}
.chat-room-bar{
    display:flex;
    justify-content: space-between;
}

.chat-user__imgbox{
    width:38px;
    height:38px;
    border-radius:15px;
    overflow:hidden;  
    min-width:38px; 
}
.chat-user__imgbox img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.chat-room-bar__column{
    display:flex;
    align-items: center;
}
.chat-room-bar__column:last-child i{
    margin-left:16px;
    font-size: 14px;
}
.chat-user__info{
    margin-left:10px;
}
.chat-user__name{
    font-size:13px;
}
.chat-user__member{
    font-weight:600;
    color: rgba(0,0,0,0.4);
    display:flex;
    align-items: center;
    margin-top:4px;
}
.chat-user__member i{
    font-size:10px;
    zoom:0.9;
}
.chat-user__member span{
    font-size:13px;
    margin-left:3px;
}
.main-frame__chat-room{
    padding: 120px 20px  0 20px;
}
.main-frame__chat-room-find{
    padding: 160px 20px  0 20px;
}
.chat-room__row{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.chat-room__time{
    font-size: 11px;
    background-color: rgba(0,0,0,0.06);
    border-radius: 20px;
    padding: 7px 10px;
    color:rgba(0,0,0,0.7);
}
.chat-room__time:hover{
    background-color: rgba(0,0,0,0.1);
}
.chat-room__time i{
    margin-right: 5px;
}
.message{
    display:flex;
}
.message__column:nth-child(2){
    font-size: 11px;
    margin-left: 5px;
}
.message-time{
    font-size:10px;
    color:rgba(0,0,0,0.7);
}
.massage-bubble{
    background-color:white;
    padding: 8px 9px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-top: 4px;
    max-width: 200px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.message-name{
    margin-left:4px;
}
.message-time{
    margin-left: 4px;
}
.message__column:last-child{
    display:flex;
    align-items: flex-end;
}
.message-right{
    display:flex;
    flex-direction: row-reverse;
}
/* row-reverse역시 flexbox에서 시켜야함. 즉 순서가 바뀌는 주체 말고 바뀌는 아이들을 갖고있는 큰 덩어리에서 시켜줘야함. */
.message-right .massage-bubble{
    border-radius: 10px;
    border-top-right-radius: 0px;
    background-color:#FFEB33;
}
.chat-input{
    position:fixed;
    width:100vw;
    bottom:0;
    background-color: white;
    padding: 10px;
    padding-right: 33px;
    box-sizing: border-box;
}
.chat-input__row:last-child{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.chat-input textarea{
    resize:none;
    width:100%;
    height: 50px;
    border:none;
}
.chat-input textarea:focus{
    outline:none;
}
/* input range 디자인하는 방법 */
input[type=range] { 
    -webkit-appearance: none;
    width: 50px;
  }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;;
    height: 10px; width: 10px;
    margin-top:-5px;
  }
  input[type=range]::-webkit-slider-runnable-track { 
    height: 1.5px; 
    cursor: pointer; 
    background: rgba(0,0,0,0.2); 
  }
/* input[type=range]::-webkit-slider-runnable-track { 
  width: 100%; height: 8.4px; 
  cursor: pointer; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  background: #3071a9; 
  border-radius: 1.3px; 
  border: 0.2px solid #010101; 
} */
/* input[type='range'] { -webkit-appearance: none; } 은 컨트롤 할 수 있는 동그란 구 모양을 없애며,
input[type='range']::-webkit-slider-thumb { -webkit-appearance: none; } 이 코드는 기다란 바를 없앤다. */
.chat-input__column{
    display:flex;
    justify-content: center;
}
.chat-input__column button{
    border:none;
    font-size: 11px;
    background-color: #FFEB33;
    padding: 6px 13px;
    border-radius: 3px;
    margin-left: 10px;
}
.chat-input__column button:hover{
    background-color: #dfce30;
}
.chat-input__imoticon i{
    margin: 0 6px;
    color:rgba(0,0,0,0.7);
}
.chat-input__imoticon{
    display:flex;
    align-items: center;
}
.chat-input__imoticon i:hover{
    color:black;
}